<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>photoPickerView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E1432EA81BC7878D00412DFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1432EBC1BC7878D00412DFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1432EC71BC7878D00412DFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
